* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    
}


body{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Inter',sans-serif;
    gap: 100px;
    overflow-x:hidden;
}

.material-symbols-outlined{

    font-size:60px !important;
    color:#A0E00D;
    background-color:#222420;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.navBar{
    display:flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;    
    position:relative;
    padding: 12px 24px;
}

.nav-toggle {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: black;
    color:white;
    font-size:40px;
    cursor:pointer;
    z-index:9999;
}
.heroSection{
    display:flex;
    flex-direction:row;
    width:100%;
    gap:50px;
    
}


.logoContainer{
    width: 146px;
    height:auto;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;  /* The repeated font-weight has been consolidated */
    margin-right: 20px;
    transition: color 0.3s ease, text-shadow 0.3s ease;  /* Smooth transition for color and glow */
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.5); /* Initial subtle white glow */
}

.link:hover{
    color: #A0E00D;
    text-shadow: 0 0 0px rgba(160, 224, 13, 0.8); /* Enhanced glow on hover */
}

.button,.buttonContact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #A0E00D;
    font-size: 18px;
    border-radius: 50px;
    padding: 12px 24px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 8px rgba(160, 224, 13, 0.6); /* Added glow effect */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover */
}
.button:hover{
    background-color: white;
    box-shadow: 0 0 12px rgba(160, 224, 13, 0.8); /* Enhanced glow on hover */
}
.button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    padding: 12px 24px;
    font-weight: 550;
    border: 2px solid white; /* Changed to white border */
    background-color: transparent; /* Transparent background */
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 8px rgba(160, 224, 13, 0.6); /* Added glow effect */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* Smooth transition for hover */
}

.button1:hover,.buttonContact:hover {
    background-color: white; /* Change background color to white on hover */
    color: black; /* Change text color to black on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#131412;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:20px;
}

.dropdown-content a {
    color: white ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.dropdown {
    position: relative;
    display: inline-block;
}


.section{
    display:flex;
    flex-direction: row;
    max-width: 1200px;
    
    width: 100%;
}
#methodologySection{
    padding:0 10px;
}
.section-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
}

.section-column{
    display:flex;
    flex-direction: column;
    
    gap:24px;
    width:100%;
}
.container{
    display:flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    overflow: hidden;
}
.video-container{
    
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    
}
.video-container video {
    width:100%;
    height:auto;
    max-height: 100%;
    object-fit: contain;
}


.clientLogo img{
    max-height: 50px;
}

.grid-container{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    

    gap:20px;
    padding:0 20px;

}
.grid-content{
    width:100%;
    gap:10px;
    padding:20px 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131412   ;
    border-radius: 20px;
    

}
.title{
    gap:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.servicesTitle{
    gap:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardTitle{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    gap:10px;

}
.h1{
    font-family: "inter", sans-serif;
    font-size: 58px;
    font-style:normal;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: -1.6px;
    
}
.h2{
    font-family:"inter", sans-serif;
    font-size: 48px;
    line-height: 1.2em;
    font-style:normal;
    font-weight: 50;
    line-height: 1.2em;
    letter-spacing: 1.6px;
    text-align: center;

}
.h3{
    font-family:"inter", sans-serif;
    font-size: 40px;
    line-height: 1.2em;
    font-style:normal;
    font-weight: 50;
    line-height: 1.2em;
    letter-spacing: 1.6px;
}
.regular{
    font-family:"inter", sans-serif;
    font-size:16px;
    color:#C6C7C6;
    line-height:  1.6em;
    letter-spacing: 0.245px;
}
.mainColor{
    color:#A0E00D
}
.white{
    color:#FFFFFF
}

.greyColor{
    color:#C5C6C5;
}
.cardParagraph{
    color:#C5C6C5;
    display:flex;
    align-items: center;
    justify-content:center;
}
.image{
    width: 438px;
    height: 385px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}
.image img{
    width:100%;
    height:auto;
    max-height: 100%;
    object-fit: contain;

}

.pill{
    width:fit-content;
    height:fit-content;
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap:4px;
    padding:5px 12px;
    background-color: #131412;
    color:#A0E00D;
    border-radius: 40px;
    font-size: 12px;
    text-transform:uppercase;

}


.paragraph{
    text-align: left;
    font-size:16px;
    line-height: 1.4em;
}
.bold-text {
    font-weight: bold;
}
.workSection{
    align-items: center;
    gap:50px;   
}
.workGrid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:10px;
    max-width: 1200px;
}
.workGridCard{
    background-color: #131412;
    border-radius: 20px;
    padding: 12px 24px;
}
.workGridCardTitle{
    font-size:20px;
}
.swiper-container {
    width:100%;
    max-width: 1400px;
    height: auto;
    overflow-x:hidden;
    white-space: nowrap; /* Prevent wrapping of logos */
    
    position:relative
}
.swiper-container::before{
    position:absolute;
    top:0;
    left:0;
    content:"";
    width:150px;
    height:100%;
    background: linear-gradient(to left, transparent,black);
    z-index: 2;
}
.swiper-container::after{
    position:absolute;
    top:0;
    right:0;
    content:"";
    width:150px;
    height:100%;
    background: linear-gradient(to right, transparent,black);
    z-index: 2;
}
.swiper-wrapper {
    display: inline-flex; /* Use inline-flex to prevent wrapping */
    position: relative;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    animation: scrollRightToLeft 25s linear infinite; /* Add animation for continuous scrolling */
}


.clientLogo {
    position: relative;
}

.clientLogo img {
    max-height: 100%;
    width: auto;
    height: 50px;
    margin: 0 70px;
}

.clientLogo::before {
    content: '';
    position: absolute;
    left: 0px; /* Adjust this value to position the line */
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #C6C7C6;
}

@keyframes scrollRightToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}



.toolsTitle{
    display:flex;
    flex-direction:column;
    max-width: 480px;
}

.verticalTickers{
    display:flex;
    flex-direction: row;
    height:auto;

    justify-content: center;
    align-items: center;
    height:800px;
    overflow:hidden;
    white-space: nowrap;
    position:relative;
}
.verticalTicker1, .verticalTicker2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    position:relative;
    overflow:hidden;
    white-space: nowrap;
}
.verticalTicker1{
    animation: scrollTopToBottom 20s linear infinite;
}

.verticalTicker2{
    animation: scrollBottomToTop 20s linear infinite;
}

.verticalTickers::after{
    content:"";
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    width:100%;
    height:50px;
    background: linear-gradient(to bottom, transparent,black);
    z-index: 2;
}

.verticalTickers::before{
    content:"";
    top:0;
    left:0;
    right:0;
    position:absolute;
    width:100%;
    height:50px;
    background: linear-gradient(to top, transparent,black);
    z-index: 2;
}

@keyframes scrollTopToBottom {
    from {
        transform: translateY(-50%);
    }
    to{
        transform:translateY(50%)
    }
    
}
@keyframes scrollBottomToTop {
    from{
        transform:translateY(50%);
    }
    to{
        transform:translateY(-50%);
    }
}

.toolCard{
    width:200px;
    height:150px;
    margin:10px;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #131412;
}
.toolCard img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}
.toolsTitle{
    max-width: 480px;
    gap:10px;
}
.Methodology1LeftText{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.Methodoology2RightText{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}





.marketingTicker{
    overflow:hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.marketingTickerCardsContainer{
    
    display:flex;
    flex-direction:row;
    overflow:hidden;
    width:1400px;
    
    position:relative;
    align-items: center;
    justify-content: start;    
}

.marketingTickerCardsContainer::after{
    content:'';
    width:100px;
    background:linear-gradient(to right, transparent, black);
    z-index:2;
    position:absolute;
    right:0px;
    top:0px;
    bottom:0px;
}
.marketingTickerCardsContainer::before{
    content:'';
    width:100px;
    background:linear-gradient(to left, transparent, black);
    z-index:2;
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
}

.marketingTickerCards{
    animation:marketingScroll 25s linear infinite;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;   
}
.marketingTickerCardboxTitle{
    font-size:30px;
    display:flex;

}
.marketingTickerCardboxText{
    margin:0px 0px;
    display:flex;
    flex-direction: column;
    
}
.marketingTickerCardbox{
    display:block;
    margin: 0px 30px;
    width:200px;
    padding: 10px;
    border:1px solid grey;
    border-radius: 10px;
}
@keyframes marketingScroll{
    0%{
        transform:translateX(0%)
    }
    100%{
        transform:translateX(-100%)
    }
}

.clientsTicker{
    align-items: center;
    gap:50px;
    width:100%;
    overflow:hidden;
    
}
.clientsTickerTitle{
    gap:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clientsTickerTestimonials{
    width:fit-content;
    display:flex;
    animation:clientScroll 25s linear infinite;
    will-change: transform;
}

.clientsTickerTestimonialsCard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #131412;
    border-radius: 10px;
    padding: 12px;
    flex:1;
    min-width: 300px;
    height: fit-content;
    font-size:20px;
    border: 1px solid rgba(255,255, 255, 0.1);
    margin:0 100px;
}
.clientsTickerTestimonialsCardsAuthor{
    font-size:15px;
    line-height: 1.4em;
    font-weight: 500;
    gap:10px;
}
.testimonialsMaster{
    display:flex;
    margin:0 100px;
    overflow:hidden;
    max-width:1400px;
    width:100%;
    position:relative;
    
}
.testimonialsMaster::after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:100px;
    background: linear-gradient(to right, transparent, black);
    z-index: 2;
}
.testimonialsMaster::before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100px;
    background: linear-gradient(to left, transparent, black);
    z-index: 2;
}
@keyframes clientScroll{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-100%);
    }
}

#container {
    width: 100%;
    max-width: 600px;
    display:flex;
    align-items: center;
    background:#131412;
    justify-content: center;
    padding:10px;
}
#contactForm{
    display:flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field, .input-field-half, .textarea-field {
    padding: 8px;
    border-radius: 20px;
    background: white; 
    border: 1px solid #ccc;
    width: 100%;
}


.input-flex-container {
    display: flex;
    gap: 10px;
}

.input-field, .textarea-field {
    width: 100%; 
}

.input-field-half {
    flex: 1 1 50%; 
    box-sizing: border-box; 
}

.textarea-field {
    height: 100px;
    resize: none; 
}

#thankYouMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    background-color: #131412;
    text-align: center;
}

.contactFormSection{
    display:flex;
    flex-direction:column;
    align-items: center;
    background:#131412;
    border-radius:50px;
    width:800px;
    padding:20px;
}
.contactFormTitle{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.contactFormSubheader{
    width:90%;
    text-align: center;
}

.footerSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:1200px;
    padding:10px;
    width:100%;
}

.footerLayout{
    display:flex;
    flex-direction: row;
    width:100%;
    
    justify-content:space-between;
}
.footerPolicy{
    display:flex;
    align-items: center;
    width:100%;
}
.rightsReserved{
    display:flex;
    flex:3;
    margin:10px;
}
.policy{
    margin:10px;
}
.footerLogos{
    max-width: 400px;
}
.footerSocials{
    display:flex;
    flex:1;
    align-items:center;
    justify-content: start;
    gap:5px;
    font-size:20px;
}
.footerPages,.footerServices{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:10px;
    
}
.h5{
    font-size:16px;
}
.footerlink{
    text-decoration: none;
    color:white;
    font-size:14px;
}
.footerlink:hover{
    color: #A0E00D;
    text-shadow: 0 0 0px rgba(160, 224, 13, 0.8); /* Enhanced glow on hover */
}


.Methodology2LeftPicture{
    order:1;
}
.Methodology2RightText{
    order:2;
}
.Methodology1RightPicture,.Methodology2LeftPicture,.Methodology3RightPicture{
    display:flex;
    align-items: center;
    justify-content: center;
}
.aboutHeroSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:50px;
    padding: 20px;
}
.aboutTitle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.resultsSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:30px;
    order:2;
}
.resultsMaster{
    display:flex;
    max-width: 1200px;

}
.aboutHeroSectionParagraph{
    max-width: 1200px;
}

.resultsTitle{
    align-items: start;
}
.resultsGrid{
    display:grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(2, minmax(200px, 500px));
    gap:30px;
    margin:0px;
}
.resultsImage{
    display:flex;
    align-items: center;
    justify-content: center;
    order:1;
}
.resultsImage img{
    width: 100%;
    min-width:350px;
    max-width:850px;
}
.seoHeroSection{
    display:flex;
    flex-direction: column;
    padding:20px;
    gap:20px;
    max-width: 1400px;
}
.servicesGridTitle{
    display:flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.servicesGridSection{
    display:flex;
    flex-direction: column;
    max-width: 800px;
    gap:50px;
}
.servicesGrid{
    display: grid;
    width:100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; /* Adjust gap between grid items as needed */
    padding: 10px; /* Optional padding for the container */
}
.servicesGridCard{
    background-color: #131412;
    display:flex;
    flex-direction: column;
    max-width: ;
    gap:10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reasonsSection{
    display:flex;
    flex-direction: column;
    gap:50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.reasonsListCard{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    max-width: 500px;
    gap:20px;
    text-align: center;
}
.reasonsList{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap:20px;
}
.reasonsTitle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.implementSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap:50px;
}
.implementTitle{
    max-width: 800px;
    text-align: center;
}

i {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Add glow effect */
    
  }
  .seoHeroSection{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    text-align: center;
  }
  
@media (max-width:809px){
    .reasonsList{
        display:flex;
        flex-direction: column;
    }
    .resultsMaster{
        display:flex;
        flex-direction:column;
    }
    .resultsGrid{
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
    .resultsSection{
        order:1;
    }
    .resultsImage{
        order:2;
    }
    .resultsTitle{
        align-items: center;
    }
    .nav-toggle{
        display:block;
        
    }
    .navLinks.active{
        width:50vw;
        
    }
    .navLinks a{
        font-size:20px;
    
    }
    
    .navLinks{
        display:flex;
        flex-direction:column;
        gap:10px;
        align-items: center;
        justify-content: center;
        position:absolute;
        background-color:transparent;
        backdrop-filter:blur(50px);
        width:0px;
        top:0;
        bottom:0;
        right:0;
        overflow:hidden;
        transition:width 0.3s  ease;
        height:100vh;
        
    }
    .dropdown{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .dropdown-content{
        position:relative;
        display:block;
        flex-direction:column;
        
        background-color:transparent;
        justify-content: center;
        align-items: center;
    }
    
    .buttonContact{
        display:none !important;
    }
    .heroSection{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        
    }
    .h1,.regular,.h2,.h3{
        text-align: center;
        
        }
    .wrap{
        display:flex;
        width: 100%;
        max-width: 100%;
    }
    
   body{
    gap:50px;
    margin:10px;
   }
   .servicesTitle{
    max-width:  100%;
    display:flex;
    flex-direction: column;
    
   }
   .grid-container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(2,1fr);
    grid-gap: 20px; /* Adjust the gap between grid items */
}


.grid-content{
    flex:1;
    gap:20px;
    padding:20px 60px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    background-color: #131412   ;
    border-radius: 20px;

}
.Methodology1,.Methodology2,.Methodology3{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.Methodology2 {
    flex-direction: column; /* stack them vertically on smaller screens */
}

.Methodology2LeftPicture {
    order: 2; /* Make the picture appear second */
}

.Methodology2RightText {
    order: 1; /* Make the text appear first */
}
.ToolsSection{
    display:flex;
    flex-direction: column;
    
}
.toolsTitle{
    display:flex;
    align-items: center;
}
.workGrid{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
    padding:0 50px;
}
.workGridCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workGridButton{
    display:flex;
    align-items: center;
    justify-content: center;
}
.contactFormTitle,.contactFormHeader,.contactFormSection{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
#container,#contactForm{
    display:flex;
    width: 100%;
}
.contactFormSection{
    padding:20px;
    border-radius: 0;
}

.input-flex-container{
    width:100%;
    display:flex;
}
.footerSection{
    width: 100%;
    gap:50px;
}
.footerLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.footerSocials{
    display:flex;
    align-items: center;
    justify-content: center;
}
.footerPages,.footerServices{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.footerlink,.h5{
    font-size:20px;
    
}
#methodologySection{
    margin:10px;
}

.section-column{
    justify-content: center;
    align-items: center;
}
.marketingTicker{
    display:none;
}
.verticalTickers{
    

    
}
.clientsTickerTestimonialsCard{
    margin: 0px 50px;
}

}